.clickable-text {
    color: #303030;
    text-decoration: none;
    background-color: #fff;
    border: 0;
    vertical-align: bottom;
    display: inline-block;
    height: 100%;
    font-size: x-large;
  }
  
  .clickable-text:hover {
    color: #efefef; /* set the text color when hovered over */
  }

  .parent {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .chat-header {
    width: 100%;
  }
  
  .chat-scrollable {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
  }

  .chat-footer {
    width: 100%;
    margin-top: auto;
  }